body {
  background-color: bisque;
  text-align: center;
}

h3 {
  text-transform: uppercase;
}
h3 span {
  text-decoration: underline;
  color: rgb(168, 11, 38);
}
.hamlet {
  font-style: italic;
}
